@use './_partials/_variables.scss' as *;
@use './_partials/_fonts.scss' as *;
@import "bootstrap/scss/bootstrap"; //import procedure bootstrap come da istruzioni documentazione Boostrsap/Vite


/*
************************
REGOLE GENERALI
************************
*/

// inserire regole css/scss generali (ad es. font nel body, o regole generali che richiamano variabili)

body {
    background-color: $primary_color;
}